---
- scm:
    name: deployment_Deploy_Puppet
    scm:
        - git:
            url: git@github.com:alphagov/govuk-secrets.git
            per-build-tag: false
            refspec: +refs/heads/master:refs/remotes/origin/master
            shallow-clone: true
            wipe-workspace: false
            clean:
              before: true
            branches:
              - master

- job:
    name: Deploy_Puppet
    display-name: Deploy Puppet
    project-type: freestyle
    description: |
        <a href='http://www.flickr.com/photos/fatty/9158066939/'>
          <img src='https://farm3.staticflickr.com/2835/9158066939_374360ed56_n.jpg'>
        </a>
        <p style="font-size:18px">
          <strong>You may need to wait up to 30 minutes before your changes will be reflected.</strong><br>
          This job only deploys the latest Puppet code, it doesn't trigger a Puppet run.<br>
          For more information, refer to the <a href="https://docs.publishing.service.gov.uk/manual/deploy-puppet.html#convergence">'Deploying Puppet' page in the Ops Manual</a>.
        </p>
    <%- if @auth_token -%>
    auth-token: <%= @auth_token %>
    <%- end -%>
    properties:
        - build-discarder:
            days-to-keep: 30
            artifact-num-to-keep: 5
        - github:
            url: https://github.com/alphagov/govuk-secrets/
        - slack:
            notify-start: true
            notify-success: true
            notify-aborted: true
            notify-notbuilt: true
            notify-unstable: false
            notify-failure: true
            notify-backtonormal: false
            notify-repeatedfailure: false
            include-test-summary: false
            room: <%= @slack_room %>
    scm:
      - deployment_Deploy_Puppet
    builders:
        <%- if @aws_migration -%>
        - shell: sh -eu puppet_aws/deploy.sh
        <%- else -%>
        - shell: sh -eu puppet/deploy.sh
        <%- end -%>
    publishers:
        - trigger:
            project: Smokey
        <%- unless @aws_migration -%>
        - slack:
            team-domain: <%= @slack_team_domain %>
            auth-token: <%= @environment_variables['SECOND_LINE_SLACK_AUTH_TOKEN']%>
            build-server-url: <%= @slack_build_server_url %>
            room: <%= @slack_room %>
        <%- end -%>
    wrappers:
        - ansicolor:
            colormap: xterm
        - build-name:
            name: '#${BUILD_NUMBER} ${ENV,var="TAG"}'
        - timestamps:
    parameters:
        - string:
            name: TAG
            description: Git tag/committish to deploy.
            default: <%= @commitish -%>
