---
- scm:
    name: alphagov-deployment_Deploy_App
    scm:
        - git:
            url: git@github.gds:gds/alphagov-deployment.git
            branches:
              - release
            wipe-workspace: false

- job:
    name: Deploy_App
    display-name: Deploy_App
    project-type: freestyle
    description: "<a href=\"http://www.flickr.com/photos/fatty/9158066939/\">\r\n  <img src=\"https://farm3.staticflickr.com/2835/9158066939_374360ed56_n.jpg\">\r\n</a>\r\n <h2>You can monitor the application health using the <a href=\"https://grafana.<%= @app_domain %>/#/dashboard/file/application_http_error_codes.json\">4XX and 5XX status dashboard</a></h2>\r\n"
    <%- if @auth_token -%>
    auth-token: <%= @auth_token %>
    <%- end -%>
    properties:
        - github:
            url: https://github.gds/gds/alphagov-deployment/
    scm:
      - alphagov-deployment_Deploy_App
    builders:
        - shell: |
            ./jenkins.sh
            export DEPLOY_TO=<%= @environment -%>
            export DEPLOY_TASK="$DEPLOY_TASK"
            export TAG="$TAG"
            export ORGANISATION="<%= @environment -%>"
            export CI_DEPLOY_JENKINS_API_KEY="<%= @ci_deploy_jenkins_api_key -%>"
            mkdir -p "$WORKSPACE/$TARGET_APPLICATION/"
            cd "$WORKSPACE/$TARGET_APPLICATION/"
            logger -p INFO -t jenkins "DEPLOYMENT: ${JOB_NAME} ${BUILD_NUMBER} ${TARGET_APPLICATION} ${TAG} (${BUILD_URL})"
            if [ -e "deploy.sh" ]; then
              echo "---> Found deploy.sh, running 'sh -e deploy.sh'" >&2
              exec sh -e deploy.sh
            else
              echo "---> No deploy.sh found, running 'bundle exec cap \"${DEPLOY_TASK}\"'" >&2
              exec bundle exec cap "$DEPLOY_TASK"
            fi
    publishers:
        - trigger:
            project: Smokey
        - trigger-parameterized-builds:
            - project: GDS_Production_Backup, service-manual_rebuild_search_index
              predefined-parameters: TARGET_APPLICATION_GIT_REPO=$WORKSPACE/$TARGET_APPLICATION
              condition: 'UNSTABLE_OR_BETTER'
    wrappers:
        - ansicolor:
            colormap: xterm
        - build-name:
            name: '${ENV,var="TARGET_APPLICATION"} ${ENV,var="TAG"}'
    parameters:
        - choice:
            name: TARGET_APPLICATION
            description: Application to deploy.
            choices:
                - PLEASE CHOOSE ONE
                - asset-manager
                - authenticating-proxy
                - backdrop-read
                - backdrop-write
                - bouncer
                - business-support-api
                - businesssupportfinder
                - calculators
                - calendars
                - collections
                - collections-publisher
                - contacts
                - contacts-frontend
                - content-register
                - content-store
                - designprinciples
                - EFG
                - email-alert-api
                - email-alert-frontend
                - email-alert-monitor
                - email-alert-service
                - email-campaign-api
                - email-campaign-frontend
                - errbit
                - event-store
                - feedback
                - finder-api
                - finder-frontend
                - frontend
                - government-frontend
                - govuk-cdn-logs-monitor
                - govuk-delivery
                - govuk_content_api
                - govuk_crawler_worker
                - govuk_need_api
                - hmrc-manuals-api
                - imminence
                - info-frontend
                - kibana
                - licencefinder
                - manuals-frontend
                - mapit
                - maslow
                - metadata-api
                - panopticon
                - performanceplatform-admin
                - performanceplatform-big-screen-view
                - policy-publisher
                - publisher
                - publishing-api
                - recommended-links
                - release
                - review-o-matic
                - review-o-matic-explore
                - router
                - router-api
                - rummager
                - search-admin
                - service-manual-publisher
                - short-url-manager
                - sidekiq-monitoring
                - signonotron2
                - smartanswers
                - specialist-frontend
                - specialist-publisher
                - spotlight
                - stagecraft
                - static
                - support
                - support-api
                - trade-tariff-admin
                - trade-tariff-backend
                - trade-tariff-frontend
                - transaction-wrappers
                - transition
                - travel-advice-publisher
                - whitehall
                - whitehall-rummager
        - choice:
            name: DEPLOY_TASK
            description: Task to run (available as $DEPLOY_TASK to deploy.sh and passed
            choices:
                - deploy
                - deploy:migrations
                - deploy:setup
                - deploy:hard_restart
        - string:
            name: TAG
            description: Git tag/committish to deploy.
            default: release
