---
- job:
    name: Deploy_App
    display-name: Deploy_App
    project-type: freestyle
    description: "<% if @environment != 'integration' %><a href=\"http://www.flickr.com/photos/fatty/9158066939/\">\r\n  <img src=\"https://farm3.staticflickr.com/2835/9158066939_374360ed56_n.jpg\">\r\n</a>\r\n<% end %><h2>You can monitor the application health using the <a href=\"https://grafana.<%= @app_domain %>/#/dashboard/file/application_http_error_codes.json\">4XX and 5XX status dashboard</a></h2>\r\n"
    <%- if @auth_token -%>
    auth-token: <%= @auth_token %>
    <%- end -%>
    properties:
      - build-discarder:
          days-to-keep: 30
          artifact-num-to-keep: 5
    builders:
        - shell: |
            #!/usr/bin/env bash
            set -x

            export DEPLOY_TO="<%= @environment -%>"
            export DEPLOY_TASK="$DEPLOY_TASK"
            export TAG="$TAG"
            export ORGANISATION="<%= @environment -%>"
            export CI_DEPLOY_JENKINS_API_KEY="<%= @ci_deploy_jenkins_api_key -%>"
            export GRAPHITE_HOST="<%= @graphite_host -%>"
            export GRAPHITE_PORT="<%= @graphite_port -%>"
            <%- if @aws_deploy %>
            export USE_S3="true"
            export S3_ARTEFACT_BUCKET="govuk-<%= @environment -%>-artefact"
            <% end -%>

            if [ "$DEPLOY_FROM_GITLAB" == "true" ]; then
              export GIT_ORIGIN_PREFIX="git@gitlab.com:govuk"
            fi

            git clone ${GIT_ORIGIN_PREFIX="git@github.com:alphagov"}/govuk-app-deployment.git --branch master --single-branch --depth 1 ./
            ./jenkins.sh
    publishers:
        - trigger:
            project: Smokey
            threshold: UNSTABLE
        - text-finder:
            regexp: "DOCKER TAG FAILED"
            also-check-console-output: true
            unstable-if-found: true
        - email:
            recipients: govuk-ci-notifications@digital.cabinet-office.gov.uk
            send-to-individuals: true
    wrappers:
        - workspace-cleanup
        - ansicolor:
            colormap: xterm
        - build-name:
            name: '${ENV,var="TARGET_APPLICATION"} ${ENV,var="TAG"}'
        - build-user-vars
        - credentials-binding:
            - username-password-separated:
                credential-id: govukci-docker-hub
                username: DOCKER_HUB_USERNAME
                password: DOCKER_HUB_PASSWORD
        - timestamps
    parameters:
        - choice:
            name: TARGET_APPLICATION
            description: Application to deploy.
            choices: <%= ['-- Choose an app'] + @applications.keys %>
        - choice:
            name: DEPLOY_TASK
            description: |
              Capistrano task to run (also available as $DEPLOY_TASK in deploy.sh)<br>
              <code>deploy</code> will typically include migrations, however this is dependent on the project configuration.<br>
              <code>hard_restart</code> tasks are generally used for when a ruby version changes, and tend to only be configured for ruby projects.
            choices:
                - deploy
                - deploy:with_hard_restart
                - deploy:with_migrations
                - deploy:without_migrations
                - docker
                - docker:pull
                - docker:tag_to_current
                - app:migrate
                - app:hard_restart
                - app:migrate_and_hard_restart
        - string:
            name: TAG
            description: Git tag/committish to deploy.
            default: release
        - bool:
            name: DEPLOY_FROM_GITLAB
            default: false
            description: Whether to deploy from GitLab.com in case GitHub is unavailable
        - bool:
            name: NOTIFY_RELEASE_APP
            default: <%= @notify_release_app.to_s %>
            description: Whether to notify the Release app of the deployment
        - bool:
            name: SLACK_NOTIFICATIONS
            default: <%= @enable_slack_notifications.to_s %>
            description: Whether to enable notifications into Slack
