---
- scm:
    name: extract-app-performance
    scm:
        - git:
            url: git@github.com:alphagov/app-performance-summary.git
            branches:
              - master
- job:
    name: extract-app-performance
    display-name: extract-app-performance
    project-type: freestyle
    description: |
      <p>Extracts error rate information in graphite.</p>
      <p>More information:<a href='https://github.com/alphagov/app-performance-summary'>alphagov/app-performance-summary on GitHub</a>.</p>
    scm:
        - extract-app-performance
    properties:
        - build-discarder:
            days-to-keep: 30
            artifact-num-to-keep: 5
    builders:
        - shell: |
            pipenv install --three --skip-lock
            GRAPHITE_URL='https://graphite.<%= @app_domain_internal %>' ./run.sh
    triggers:
        - timed: '<%= @cron_schedule %>'

    wrappers:
      - ansicolor:
          colormap: xterm
      - inject-passwords:
          global: false
          mask-password-params: true
          job-passwords:
            - name: GOOGLE_PRIVATE_KEY_ID
              password:
                '<%= @google_private_key_id %>'
            - name: GOOGLE_PRIVATE_KEY
              password:
                '<%= @google_private_key %>'
            - name: GOOGLE_CLIENT_EMAIL
              password:
                '<%= @google_client_email %>'
            - name: GOOGLE_CLIENT_ID
              password:
                '<%= @google_client_id %>'

    parameters:
        - string:
            name: PLATFORM_METRICS_MAILING_LIST
            description: Email to share reports with.
            default: '<%= @google_share_email %>'
