---
- scm:
    name: search-analytics_search-fetch-analytics-data
    scm:
        - git:
            url: git@github.com:alphagov/search-analytics.git
            branches:
              - master

- job:
    name: search-fetch-analytics-data
    display-name: search-fetch-analytics-data
    project-type: freestyle
    description: |
      <p>Fetch analytics data from Google Analytics and index in search</p>
      <p>This is run nightly to update the information used by search to return more popular pages first.</p>
      <p><strong>This task should only be run at night because it puts extra load on the search index.</strong></p>
      <p>More information:</p>
      <ul>
        <li><a href='https://github.com/alphagov/search-analytics'>alphagov/search-analytics on GitHub</a></li>
        <li><a href='https://github.com/alphagov/rummager/blob/master/doc/popularity.md'>Docs on Rummager</a></li>
      </ul>
    scm:
        - search-analytics_search-fetch-analytics-data
    properties:
        <% if @skip_page_traffic_load %>
        - inject:
            properties-content: |
              SKIP_TRAFFIC_LOAD=true
        <% end %>
        - build-discarder:
            days-to-keep: 30
            artifact-num-to-keep: 5
    builders:
        - shell: |
            ./nightly-run.sh
    triggers:
        - timed: '<%= @cron_schedule %>'
    publishers:
        - trigger-parameterized-builds:
            - project: Success_Passive_Check
              condition: 'SUCCESS'
              predefined-parameters: |
                  NSCA_CHECK_DESCRIPTION=<%= @service_description %>
                  NSCA_OUTPUT=<%= @service_description %> success
            - project: Failure_Passive_Check
              condition: 'FAILED'
              predefined-parameters: |
                  NSCA_CHECK_DESCRIPTION=<%= @service_description %>
                  NSCA_OUTPUT=<%= @service_description %> failed
                  NSCA_CODE=1
    wrappers:
        - ansicolor:
            colormap: xterm
        - inject-passwords:
            global: false
            mask-password-params: true
            job-passwords:
                - name: GAAUTH
                  password:
                    '<%= @ga_auth_password %>'
