---
- job:
    name: signon_rake_oauth_access_grants_delete_expired
    display-name: "Signon: Delete expired OAuth access grants (scheduled)"
    project-type: freestyle
    description: "<p>Regularly run the oauth_access_grants:delete_expired rake task for signon.</p>"
    builders:
        - trigger-builds:
            - project: automated-rake-task
              block: true
              predefined-parameters: |
                TARGET_APPLICATION=signon
                MACHINE_CLASS=backend
                RAKE_TASK=oauth_access_grants:delete_expired
    triggers:
      - timed: <%= @rake_oauth_access_grants_delete_expired_frequency %>
    logrotate:
        numToKeep: 10
    publishers:
      - slack:
          team-domain: <%= @slack_team_domain %>
          auth-token-id: <%= @slack_credential_id %>
          auth-token-credential-id: <%= @slack_credential_id %>
          build-server-url: <%= @slack_build_server_url %>
          notify-failure: true
          room: <%= @slack_channel %>
          include-custom-message: true
          custom-message: "Signon delete expired OAuth access grants job failed in <%= @environment %>"
- job:
    name: signon_rake_organisations_fetch
    display-name: "Signon: Sync organisations with Whitehall (scheduled)"
    project-type: freestyle
    description: "<p>Regularly run the organisations:fetch rake task for signon.</p>"
    properties:
      - build-discarder:
          days-to-keep: 30
          artifact-num-to-keep: 5
    builders:
        - trigger-builds:
            - project: automated-rake-task
              block: true
              predefined-parameters: |
                TARGET_APPLICATION=signon
                MACHINE_CLASS=backend
                RAKE_TASK=organisations:fetch
    triggers:
      - timed: <%= @rake_organisations_fetch_frequency %>
    logrotate:
        numToKeep: 10
    publishers:
      - slack:
          team-domain: <%= @slack_team_domain %>
          auth-token-id: <%= @slack_credential_id %>
          auth-token-credential-id: <%= @slack_credential_id %>
          build-server-url: <%= @slack_build_server_url %>
          notify-failure: true
          room: <%= @slack_channel %>
          include-custom-message: true
          custom-message: "Signon: Sync organisation with Whitehall failed in <%= @environment %>"
- job:
    name: signon_rake_users_suspend_inactive
    display-name: "Signon: Suspend inactive users (scheduled)"
    project-type: freestyle
    description: "<p>Regularly run the users:suspend_inactive rake task for signon.</p>"
    builders:
        - trigger-builds:
            - project: automated-rake-task
              block: true
              predefined-parameters: |
                TARGET_APPLICATION=signon
                MACHINE_CLASS=backend
                RAKE_TASK=users:suspend_inactive
    triggers:
      - timed: <%= @rake_users_suspend_inactive_frequency %>
        logrotate:
            numToKeep: 10
    publishers:
      - slack:
          team-domain: <%= @slack_team_domain %>
          auth-token-id: <%= @slack_credential_id %>
          auth-token-credential-id: <%= @slack_credential_id %>
          build-server-url: <%= @slack_build_server_url %>
          notify-failure: true
          room: <%= @slack_channel %>
          include-custom-message: true
          custom-message: "Signon: suspend inactive users failed in <%= @environment %>"
- job:
    name: signon_rake_users_send_suspension_reminders
    display-name: "Signon: Send suspension reminders (scheduled)"
    project-type: freestyle
    description: "<p>Regularly run the users:send_suspension_reminders rake task for signon.</p>"
    builders:
        - trigger-builds:
            - project: automated-rake-task
              block: true
              predefined-parameters: |
                TARGET_APPLICATION=signon
                MACHINE_CLASS=backend
                RAKE_TASK=users:send_suspension_reminders
    triggers:
      - timed: <%= @rake_users_send_suspension_reminders_frequency %>
        logrotate:
            numToKeep: 10
    publishers:
      - slack:
          team-domain: <%= @slack_team_domain %>
          auth-token-id: <%= @slack_credential_id %>
          auth-token-credential-id: <%= @slack_credential_id %>
          build-server-url: <%= @slack_build_server_url %>
          notify-failure: true
          room: <%= @slack_channel %>
          include-custom-message: true
          custom-message: "Signon: Send suspension reminders failed in <%= @environment %>"
