{
  "content": "<ul style=\"font-size: 20px;\">\n<li><a target=\"_blank\" href=\"https://sentry.io/govuk/app-<%= @app_name %>/?query=is%3Aunresolved+environment%3A<%= @sentry_environment %>\">Errors for <%= @app_name %> (Sentry)</a></li>\n<li><a target=\"_blank\" href=\"https://kibana.logit.io\">Kibana (Logit)</a></li>\n<li><a target=\"_blank\" href=\"https://alert.<%= @app_domain %>/\">Icinga</a></li>\n<li><a target=\"_blank\" href=\"https://docs.publishing.service.gov.uk/apps/<%= @docs_name %>.html\"><%= @app_name %> documentation</a></li>\n</ul>\n",
  "editable": true,
  "error": false,
  "id": 12,
  "isNew": true,
  "links": [],
  "mode": "html",
  "span": 6,
  "style": {
    "font-size": "20pt"
  },
  "title": "Useful links",
  "type": "text"
}
