---
- scm:
    name: rummager_fetch-prototype-taxonomy-data
    scm:
        - git:
            url: git@github.com:alphagov/rummager.git
            branches:
              - master
- job:
    name: fetch-prototype-taxonomy-data
    display-name: fetch-prototype-taxonomy-data
    project-type: freestyle
    description: "<p>Fetch taxonomy mappings from spreadsheets stored on Google Drive.</p>
      <p>This task merges the remote spreadsheets into a single file, stores it in a shared place, and ensures that all Rummager machines have a copy.</p>"
    scm:
      - rummager_fetch-prototype-taxonomy-data
    builders:
        - shell: |
            if [ \! -d ENV ]; then virtualenv ENV; fi
            . ENV/bin/activate
            ssh deploy@search-3.api '(cd /var/apps/rummager/shared; mkdir alpha_taxonomy)'
            ssh deploy@search-2.api '(cd /var/apps/rummager/shared; mkdir alpha_taxonomy)'
            ssh deploy@search-1.api '(cd /var/apps/rummager/shared; mkdir alpha_taxonomy)'
            ssh deploy@search-1.api '(cd /var/apps/rummager; govuk_setenv rummager bundle exec taxonomy_prototype:download_data)'
            ssh deploy@search-1.api '(govuk_setenv rummager scp $TAXON_IMPORT_FILE deploy@search-2.api:$TAXON_IMPORT_FILE)'
            ssh deploy@search-1.api '(govuk_setenv rummager scp $TAXON_IMPORT_FILE deploy@search-3.api:$TAXON_IMPORT_FILE)'
    publishers:
        - trigger-parameterized-builds:
            - project: Success_Passive_Check
              condition: 'SUCCESS'
              predefined-parameters: |
                  NSCA_CHECK_DESCRIPTION=<%= @service_description %>
                  NSCA_OUTPUT=<%= @service_description %> success
            - project: Failure_Passive_Check
              condition: 'FAILED'
              predefined-parameters: |
                  NSCA_CHECK_DESCRIPTION=<%= @service_description %>
                  NSCA_OUTPUT=<%= @service_description %> failed
    wrappers:
        - ansicolor:
            colormap: xterm
        - inject-passwords:
            global: false
            mask-password-params: true
            job-passwords:
                - name: GAAUTH
                  password:
                    '<%= @ga_auth_password %>'
